@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #F8F9FC;
    --darkW-color: #c0c0c0;
    --darkerW-color: #757575;
    --main-color: #C00000;
    --text-color: #212121;
    --second-color: #DE3C3C;
    --third-color: #F7B32D;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding-top: 80px; /* Adjust this value to match the height of the header */
    padding: 0;
}

header {
    position: fixed; /* Changed from absolute to fixed */
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 2px 12%;
    transition: all .50s ease;
    box-shadow: 0 4px 2px -2px #00000033;
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
    width: 45px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .2s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main button {
    margin-right: 15px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main button:hover {
    background-color: var(--second-color);
    color: var(--bg-color);
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a.button, .exit-button {
    margin-right: 15px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main a.button:hover, .exit-button:hover {
    background-color: var(--second-color);
    color: var(--bg-color);
}

.log-out {
    display: flex;
    align-items: center;
}

.log-out i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--bg-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 720px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0px 0px 0px 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--bg-color);
    }

    .navbar a.active {
        color: var(--bg-color);
    }

    .navbar.open {
        right: 0%;
    }
}
.profile-container {
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 90px;
    margin-top: 86px;
}

.profile-header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.profile-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
}

.profile-content {
    display: flex;
}

.content{
    flex: 1; /* Allows the content to grow and push the footer to the bottom */
    width: 100%;
}

.sidebar {
    width: 30%;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li.active {
    background-color: #f1f1f1;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group label span {
    color: red;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-save {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c82333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-save:hover {
    background-color: #a71d2a;
}




/* Footer */
.container {
    max-width: 1070px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    background-color: var(--bg-color);
    box-shadow: 0 -5px 5px -5px #00000033;
    padding: 70px 0;
    position: relative;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 12px;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 800;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15%;
    background-color: var(--main-color);
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--darkW-color);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--main-color);
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--darkW-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--bg-color);
    transition: all 0.25s ease;
}

.footer-col .social-links a:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
/* Footer */
#bookingHistory {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start; /* Aligns the container at the top */
    justify-content: center; /* Centers the content */
}

.booking {
    border-bottom: 1px solid var(--darkW-color);
    padding: 10px 0;
}

.booking:last-child {
    border-bottom: none;
}

.booking p {
    margin: 5px 0;
    color: var(--darkerW-color);
    font-size: 13px;
    font-weight: 500;
}
.booking h1 {
    margin: 5px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
}
.booking h2 {
    margin: 5px 0;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
}

.booking p span {
    font-weight: bold;
}

